body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding : 0 10px
}
:root {
  --btn: #dbdbdb;
  --btn-hover: #cacaca;
  --item-bg: #fofofo;
  --modal-bg: rgba(141,141,141,0.541)
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header > button {
  padding: 5px 10px;
  background-color: var(--btn);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
}

.employees{
  display: flex;
}

.employees >div{
  border: 1px solid black;
  overflow-y: scroll;
  height: 450px;
}
.employees__names{
  width: 30%;
}
.employees__single{
  width: 70%;
}
.employees__names,.employees__single{
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.employees__names--title, .employees__single--title{
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding-bottom: 10px;
}